body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("https://cdn.wallpapersafari.com/42/5/4sGC1k.jpg");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.background {
  background-color: rgba(224, 222, 222, 0.8);

}
  
.container_1 {
  margin-bottom: 20px;
}

.container_2{
  padding-bottom: 10px;
}

.img_container{
flex-direction : row;
flex-wrap: wrap
}

.imgs_1{
  max-height:300px;
  padding: 1em 1em 1em 1em;
  
}

.imgs_2{
  max-height:12em;
  margin:5em 3em
}


.nav_form{
align-items: flex-end;
}

/* .textAdd {
  max-height: 3em;

} */

.addAnime_wrapper{
  display:flex;
  flex-direction: column;
}
.addAnime_wrapper h1 {
  padding: 10px 0px
}

.form_wrapper{
padding:3em 1em

}

#add-submit{margin-left: 5px}

#add_form{
  display: flex;
  justify-content: center;
  flex-direction: column}

  .textAdd{
    width:20em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
.flexbox{ display: flex}
.align{align-self: center;}

  .uploadContainer{
    max-width:35em;
    margin:2em 0em 0em 0em;
    border:#414547 1px solid;
  }

  .uploadedText{
    padding: 2em;

  }